* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.flex-row {
  display: flex;
}

/****************** HEADER *****************/
header {
  background-color: #ff6900;
  margin-bottom: 3rem;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.nav-bar {
  width: 60%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0.8rem;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: black;
}

.logo-img {
  width: 7rem;
}

.nav-sides a,
i {
  padding: 0 0.2rem;
}

.nav-right i {
  color: white;
}

.nav-right i:hover {
  color: black;
  cursor: pointer;
}

.nav-center {
  padding-right: 6rem;
}

/****************** MAIN *****************/
.box {
  justify-content: center;
  padding-top: 6rem;
}

.box2 {
  justify-content: center;
}

.box-model {
  width: 25rem;
  position: relative;
  margin: 0 0.8rem 3em 0.8rem;
}

.box-model img {
  width: 100%;
}

.box-bottom {
  font-size: 0.7rem;
}

.txt-red {
  font-weight: bold;
  color: red;
  font-size: 0.8rem;
}

.txt-barred {
  text-decoration: line-through;
  font-size: 0.8rem;
}

.square {
  width: 3rem;
  height: 3rem;
  background-color: white;
  position: absolute;
  left: 22rem;
  top: 1rem;
  z-index: 1;
}

#heart-icon {
  font-size: 1rem;
  position: absolute;
  left: 0.8rem;
  top: 1rem;
}

#heart-icon:hover {
  color: red;
  cursor: pointer;
}

.rectangle-box {
  font-size: 0.6rem;
  position: absolute;
  bottom: 5rem;
  font-weight: bold;
}

.rectangle-red {
  width: 4rem;
  height: 2rem;
  background-color: red;
  color: white;
  padding: 0.2rem 0.4rem;
}

.rectangle-green {
  width: 8rem;
  height: 2rem;
  background-color: green;
  color: white;
  padding: 0.2rem 0.4rem;
}

.model {
  position: absolute;
  opacity: 1;
}

.model:hover {
  opacity: 0;
  transition: 600ms;
}

/****************** FOOTER *****************/
footer {
  background-color: black;
  color: white;
}

.footer-box {
  min-height: 5rem;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  font-size: 0.7rem;
  line-height: 1.4rem;
}

.footer-box span {
  padding-right: 0.6rem;
}

.footer-icon {
  font-size: 1rem;
}

.footer-icon a:hover {
  color: red;
}
